$primary-color: #ff4a85;
$primary-color-hover: rgb(165, 37, 79);
$primary-color-light: #ffe0ea;
$secondary-color: #fff;
$secondary-color-hover: rgb(177, 177, 177);
$border-color: #dedede;
$border-radius: 0.3rem;
$header-footer-bg: #ebedef;
$picklist-list-height: 20rem;

* {
  font-family: quicksand, open sans, roboto, open sans, nunito, sans-serif;
}

.cc-picklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cc-picklist-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25rem;
}

.cc-picklist-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  border: 1px solid $header-footer-bg;
  border-radius: 6px;
}

.cc-picklist-list {
  height: $picklist-list-height;
  padding: 0.5rem 0;
  overflow-y: auto;
}

.cc-picklist-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 1rem;

  &.checked-background {
    background-color: $primary-color-light;
  }

  > div:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  > div:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.cc-picklist-header {
  padding: 0.5rem 1rem;
  background-color: $header-footer-bg;
}

.cc-picklist-filter {
  padding: 0.5rem 1rem;
}

.cc-picklist-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: $header-footer-bg;
}

::ng-deep .cc-text-highlight {
  color: $primary-color !important;
}

button {
  cursor: pointer;
  padding: 0.4rem 0;
  width: 2.4rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  &.p-relative {
    position: relative;
  }
}

.cc-picklist-buttons button {
  margin-bottom: 7.5px;
  margin-left: 0;
  border-radius: $border-radius;
}

button.primary-button {
  background-color: $primary-color;
  border: none;
  color: $secondary-color;
  &:hover {
    z-index: 1;
    -webkit-box-shadow: 0px 0px 5px 0px $primary-color-hover;
    box-shadow: 0px 0px 5px 0px $primary-color-hover;
  }
}

button.secondary-button {
  background-color: transparent;
  border: 1px solid $border-color;
  font-weight: bold;
  &:hover {
    z-index: 1;
    -webkit-box-shadow: 0px 0px 5px 0px $secondary-color-hover;
    box-shadow: 0px 0px 5px 0px $secondary-color-hover;
  }
}

// applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .cc-picklist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cc-picklist-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .cc-picklist-buttons button {
    margin-left: 7.5px;
    margin-bottom: 0;
  }

  .cc-picklist-transfer-buttons .fa-angle-double-right:before {
    content: "\f103";
  }

  .cc-picklist-transfer-buttons .fa-angle-right:before {
    content: "\f107";
  }

  .cc-picklist-transfer-buttons .fa-angle-left:before {
    content: "\f106";
  }

  .cc-picklist-transfer-buttons .fa-angle-double-left:before {
    content: "\f102";
  }
}

.cc-search-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto auto;
  grid-template-columns: 1fr auto auto;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  input[type="text"] {
    background-color: #f5f5f5;
    border: 0 none;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    outline: none;
    padding: 5px 0 5px 10px;
  }
  button {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    &:last-child, &.round-right {
      border-top-right-radius: 13px;
      border-bottom-right-radius: 13px;
    }
  }
}

.cc-badge {
  border-radius: 50rem;
  background-color: $primary-color;
  color: $secondary-color;

  position: absolute;
  right: -7px;
  top: -7px;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin-right: 2px;
  border: 1px solid $secondary-color;

  &.hide {
    display: none;
  }
}

.cc-checkbox {
  margin-right: 10px;

  .cbx {
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
  }
  .cbx span {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    vertical-align: middle;
    border: 1px solid #b9b8c3;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 3px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: $primary-color;
    display: block;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .cbx span:last-child:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #b9b8c3;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
  }
  .cbx:hover span:first-child {
    border-color: $primary-color;
  }

  .inp-cbx:checked + .cbx span:first-child {
    border-color: $primary-color;
    background: $primary-color;
    -webkit-animation: check 0.6s ease;
            animation: check 0.6s ease;
  }
  .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .inp-cbx:checked + .cbx span:first-child:before {
    -webkit-transform: scale(2.2);
        -ms-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .inp-cbx:checked + .cbx span:last-child {
    color: #b9b8c3;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .inp-cbx:checked + .cbx span:last-child:after {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  @-webkit-keyframes check {
    50% {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
  }

  @keyframes check {
    50% {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
  }
}