<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css"
  integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">

<!-- <div *ngFor="let item of source; let i = index">
  <ng-container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{item: item}"></ng-container>
</div> -->

<div class="cc-picklist-wrapper">
  <div class="cc-picklist-buttons cc-picklist-source-buttons">
    <button class="secondary-button"><i class="fas fa-angle-double-up"></i></button>
    <button class="secondary-button"><i class="fas fa-angle-up"></i></button>
    <button class="secondary-button"><i class="fas fa-angle-down"></i></button>
    <button class="secondary-button"><i class="fas fa-angle-double-down"></i></button>
  </div>

  <div class="cc-picklist-source-wrapper">
    2
  </div>

  <div class="cc-picklist-buttons cc-picklist-transfer-buttons">
    <button class="primary-button"><i class="fas fa-angle-double-right"></i></button>
    <button class="primary-button"><i class="fas fa-angle-right"></i></button>
    <button class="primary-button"><i class="fas fa-angle-left"></i></button>
    <button class="primary-button"><i class="fas fa-angle-double-left"></i></button>
  </div>

  <div class="cc-picklist-target-wrapper">
    4
  </div>
  <div class="cc-picklist-buttons cc-picklist-target-buttons">
    <button class="secondary-button"><i class="fas fa-angle-double-up"></i></button>
    <button class="secondary-button"><i class="fas fa-angle-up"></i></button>
    <button class="secondary-button"><i class="fas fa-angle-down"></i></button>
    <button class="secondary-button"><i class="fas fa-angle-double-down"></i></button>
  </div>
</div>
