<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css"
  integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">

<div class="cc-picklist">
  <div class="cc-picklist-buttons cc-picklist-source-buttons">
    <button class="secondary-button" (click)="sortTop(source, sourceContainer)"><i class="fas fa-angle-double-up"></i></button>
    <button class="secondary-button" (click)="sortUp(source)"><i class="fas fa-angle-up"></i></button>
    <button class="secondary-button" (click)=sortDown(source)><i class="fas fa-angle-down"></i></button>
    <button class="secondary-button" (click)="sortBottom(source, sourceContainer)"><i class="fas fa-angle-double-down"></i></button>
  </div>

  <div class="cc-picklist-wrapper cc-picklist-source-wrapper">
    <div class="cc-picklist-header"><b>{{sourceHeader}}</b></div>
    <div class="cc-picklist-filter">
      <div class="cc-search-box">
        <input type="text" [(ngModel)]="sourceSearchString" (keyup.enter)="searchOnClick(sourceSearchString, source, sourceRaw, listType.Source)" placeholder="Search">
        <button type="button" class="secondary-button" (click)="sourceSearchString = ''; searchOnClick(sourceSearchString, source, sourceRaw, listType.Source)" title="Clear"><i class="fas fa-times"></i></button>
        <button type="button" class="secondary-button" (click)="searchOnClick(sourceSearchString, source, sourceRaw, listType.Source)" title="Search"><i class="fas fa-search"></i></button>
      </div>
    </div>
    <div class="cc-picklist-list" #sourceContainer>
      <div class="cc-picklist-list-item" *ngFor="let item of source; let i = index;" [attr.data-index]="i" [class.checked-background]="item.isActive === true">
        <div class="cc-checkbox">
          <input class="inp-cbx" [(ngModel)]="item.isActive" [attr.id]="'source-' + componentId + i" type="checkbox"
            style="display: none;" /><label class="cbx" [attr.for]="'source-' + componentId + i"><span><svg width="12px"
                height="9px" viewbox="0 0 12 9">
                <polyline points="1 5 4 8 11 1"></polyline>
              </svg></span><span></span></label>
        </div>
        <div>
          <ng-container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{item: item, searchString: sourceSearchString}"></ng-container>
        </div>
      </div>
    </div>
    <div class="cc-picklist-footer">
      <span>Total: {{source.length}}</span>
      <span>{{getCheckedItems(listType.Source).length}} selected.</span>
    </div>
  </div>

  <div class="cc-picklist-buttons cc-picklist-transfer-buttons">
    <button class="primary-button" (click)="transferSourceToTarget(true)"><i class="fas fa-angle-double-right"></i></button>
    <button class="primary-button p-relative" (click)="transferSourceToTarget()">
      <i class="fas fa-angle-right"></i>
      <span class="cc-badge" *ngIf="getCheckedItems(listType.Source).length > 0">{{getCheckedItems(listType.Source).length}}</span>
    </button>
    <button class="primary-button p-relative" (click)="transferTargetToSource()">
      <i class="fas fa-angle-left"></i>
      <span class="cc-badge" *ngIf="getCheckedItems(listType.Target).length > 0">{{getCheckedItems(listType.Target).length}}</span>
    </button>
    <button class="primary-button" (click)="transferTargetToSource(true)"><i class="fas fa-angle-double-left"></i></button>
  </div>

  <div class="cc-picklist-wrapper cc-picklist-target-wrapper">
    <div class="cc-picklist-header"><b>{{targetHeader}}</b></div>
    <div class="cc-picklist-filter">
      <div class="cc-search-box">
        <input type="text" [(ngModel)]="targetSearchString" (keyup.enter)="searchOnClick(targetSearchString, target, targetRaw, listType.Target)" placeholder="Search">
        <button type="button" class="secondary-button" (click)="targetSearchString = ''; searchOnClick(targetSearchString, target, targetRaw, listType.Target)" title="Clear"><i class="fas fa-times"></i></button>
        <button type="button" class="secondary-button" (click)="searchOnClick(targetSearchString, target, targetRaw, listType.Target)" title="Search"><i class="fas fa-search"></i></button>
      </div>
    </div>
    <div class="cc-picklist-list" #targetContainer>
      <div class="cc-picklist-list-item" *ngFor="let item of target; let i = index" [attr.data-index]="i" [class.checked-background]="item.isActive === true">
        <div class="cc-checkbox">
          <input class="inp-cbx" [(ngModel)]="item.isActive" [attr.id]="'target-' + componentId + i" type="checkbox"
            style="display: none;" /><label class="cbx" [attr.for]="'target-' + componentId + i"><span><svg width="12px"
                height="9px" viewbox="0 0 12 9">
                <polyline points="1 5 4 8 11 1"></polyline>
              </svg></span><span></span></label>
        </div>
        <div>
          <ng-container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{item: item, searchString: targetSearchString}"></ng-container>
        </div>
      </div>
    </div>
    <div class="cc-picklist-footer">
      <span>Total: {{target.length}}</span>
      <span>{{getCheckedItems(listType.Target).length}} selected.</span>
    </div>
  </div>

  <div class="cc-picklist-buttons cc-picklist-target-buttons">
    <button class="secondary-button" (click)="sortTop(target, targetContainer)"><i class="fas fa-angle-double-up"></i></button>
    <button class="secondary-button" (click)="sortUp(target)"><i class="fas fa-angle-up"></i></button>
    <button class="secondary-button" (click)="sortDown(target)"><i class="fas fa-angle-down"></i></button>
    <button class="secondary-button" (click)="sortBottom(target, targetContainer)"><i class="fas fa-angle-double-down"></i></button>
  </div>
</div>
